#py pyDevice,SimServer,virtual_microscope.devices.sim_server,SimServer
#py Property,SimServer,Backend,hemocytometer
#py pyDevice,Camera,virtual_microscope.devices.camera,SimCameraDevice
#py pyDevice,Channel,virtual_microscope.devices.state,HemocytometerChannelDevice
#py pyDevice,Shutter,virtual_microscope.devices.shutter,SimShutterDevice
#py Property,Core,Camera,Camera
#py Property,Core,Shutter,Shutter

#py Property,Core,Initialize,1
#py ConfigGroup,Channel,brightfield,Channel,Label,brightfield
#py ConfigGroup,Channel,trypan-blue,Channel,Label,trypan-blue
