#py pyDevice,SimServer,virtual_microscope.devices.sim_server,SimServer
#py Property,SimServer,Backend,gel_doc
#py pyDevice,Camera,virtual_microscope.devices.camera,SimCameraDevice
#py pyDevice,Objective,virtual_microscope.devices.state,ObjectiveDevice
#py pyDevice,Shutter,virtual_microscope.devices.shutter,SimShutterDevice
#py Property,Core,Camera,Camera
#py Property,Core,Shutter,Shutter

#py Property,Core,Initialize,1
#py ConfigGroup,Channel,gel-image,Objective,Label,10x
