#py pyDevice,SimServer,virtual_microscope.devices.sim_server,SimServer
#py Property,SimServer,Backend,colony_counter
#py pyDevice,Camera,virtual_microscope.devices.camera,SimCameraDevice
#py pyDevice,Channel,virtual_microscope.devices.state,ColonyCounterChannelDevice
#py Property,Core,Camera,Camera

#py Property,Core,Initialize,1
#py ConfigGroup,Fake,plate-image,Channel,Label,transmitted
#py ConfigGroup,Fake,blue-channel,Channel,Label,blue-filter
#py ConfigGroup,Fake,gfp-channel,Channel,Label,GFP-excitation
