#py pyDevice,SimServer,virtual_microscope.devices.sim_server,SimServer
#py Property,SimServer,Backend,plate_reader
#py pyDevice,Camera,virtual_microscope.devices.camera,SimCameraDevice
#py pyDevice,Shutter,virtual_microscope.devices.shutter,SimShutterDevice
#py Property,Core,Camera,Camera
#py Property,Core,Shutter,Shutter
#py Property,Core,Initialize,1
