# spheroid backend configuration
#py pyDevice,SimServer,virtual_microscope.devices.sim_server,SimServer
#py Property,SimServer,Backend,spheroid
#py pyDevice,Camera,virtual_microscope.devices.camera,SimCameraDevice
#py pyDevice,XYStage,virtual_microscope.devices.stage,SimStageDevice
#py pyDevice,ZStage,virtual_microscope.devices.z_stage,SimZStageDevice
#py pyDevice,LED,virtual_microscope.devices.state,LEDDevice
#py pyDevice,Filter Wheel,virtual_microscope.devices.state,FilterWheelDevice
#py pyDevice,Shutter,virtual_microscope.devices.shutter,SimShutterDevice
#py pyDevice,Objective,virtual_microscope.devices.state,ObjectiveDevice

#py Property,Core,Camera,Camera
#py Property,Core,XYStage,XYStage
#py Property,Core,Focus,ZStage
#py Property,Core,Shutter,Shutter

#py Property,Core,Initialize,1
#py ConfigGroup,Channel,brightfield,LED,Label,CYAN
#py ConfigGroup,Channel,brightfield,Filter Wheel,Label,Electra1(402/454)
#py ConfigGroup,Channel,Calcein-AM,LED,Label,GREEN
#py ConfigGroup,Channel,Calcein-AM,Filter Wheel,Label,TagGFP2(483/506)
#py ConfigGroup,Channel,propidium-iodide,LED,Label,ORANGE
#py ConfigGroup,Channel,propidium-iodide,Filter Wheel,Label,mRFP1-Q667(549/570)
