#py pyDevice,SimServer,virtual_microscope.devices.sim_server,SimServer
#py Property,SimServer,Backend,flow_cytometry
#py pyDevice,Camera,virtual_microscope.devices.camera,SimCameraDevice
#py pyDevice,Objective,virtual_microscope.devices.state,ObjectiveDevice
#py pyDevice,Detector,virtual_microscope.devices.state,FlowCytometerDetectorDevice
#py Property,Core,Camera,Camera

#py Property,Core,Initialize,1
#py ConfigGroup,Channel,scatter,Detector,Label,FSC-SSC
#py ConfigGroup,Channel,FITC,Detector,Label,FL1-FITC
#py ConfigGroup,Channel,PE,Detector,Label,FL2-PE
