# Standard virtual microscope configuration
#py pyDevice,SimServer,virtual_microscope.devices.sim_server,SimServer
#py Property,SimServer,Backend,dictyostelium
#py pyDevice,Camera,virtual_microscope.devices.camera,SimCameraDevice
#py pyDevice,XYStage,virtual_microscope.devices.stage,SimStageDevice
#py pyDevice,ZStage,virtual_microscope.devices.z_stage,SimZStageDevice
#py pyDevice,LED,virtual_microscope.devices.state,LEDDevice
#py pyDevice,Filter Wheel,virtual_microscope.devices.state,FilterWheelDevice
#py pyDevice,Shutter,virtual_microscope.devices.shutter,SimShutterDevice
#py pyDevice,Objective,virtual_microscope.devices.state,ObjectiveDevice
#py pyDevice,SLM,virtual_microscope.devices.slm,SimSLMDevice
#py pyDevice,Temperature,virtual_microscope.devices.state,TemperatureControllerDevice
#py pyDevice,Perfusion,virtual_microscope.devices.state,PerfusionPumpDevice
#py pyDevice,Stretch,virtual_microscope.devices.state,StretchDevice
#py pyDevice,Electrode,virtual_microscope.devices.state,ElectrodeDevice

#py Property,Core,Camera,Camera
#py Property,Core,XYStage,XYStage
#py Property,Core,Focus,ZStage
#py Property,Core,Shutter,Shutter

#py Property,Core,Initialize,1
#py ConfigGroup,Fake,brightfield,LED,Label,CYAN
#py ConfigGroup,Fake,brightfield,Filter Wheel,Label,Electra1(402/454)
#py ConfigGroup,Fake,nucleus-channel,LED,Label,ORANGE
#py ConfigGroup,Fake,nucleus-channel,Filter Wheel,Label,mScarlet3(569/582)
#py ConfigGroup,Fake,membrane-channel,LED,Label,RED
#py ConfigGroup,Fake,membrane-channel,Filter Wheel,Label,miRFP670(642/670)
