# dictyostelium backend configuration
#py pyDevice,SimServer,virtual_microscope.devices.sim_server,SimServer
#py Property,SimServer,Backend,dictyostelium
#py pyDevice,Camera,virtual_microscope.devices.camera,SimCameraDevice
#py pyDevice,XYStage,virtual_microscope.devices.stage,SimStageDevice
#py pyDevice,ZStage,virtual_microscope.devices.z_stage,SimZStageDevice
#py pyDevice,LED,virtual_microscope.devices.state,LEDDevice
#py pyDevice,Filter Wheel,virtual_microscope.devices.state,FilterWheelDevice
#py pyDevice,Shutter,virtual_microscope.devices.shutter,SimShutterDevice
#py pyDevice,Objective,virtual_microscope.devices.state,ObjectiveDevice
#py pyDevice,SLM,virtual_microscope.devices.slm,SimSLMDevice
#py pyDevice,Temperature,virtual_microscope.devices.state,TemperatureControllerDevice

#py Property,Core,Camera,Camera
#py Property,Core,XYStage,XYStage
#py Property,Core,Focus,ZStage
#py Property,Core,Shutter,Shutter

#py Property,Core,Initialize,1
#py ConfigGroup,Channel,dark-field,LED,Label,CYAN
#py ConfigGroup,Channel,dark-field,Filter Wheel,Label,Electra1(402/454)
#py ConfigGroup,Channel,GFP,LED,Label,GREEN
#py ConfigGroup,Channel,GFP,Filter Wheel,Label,TagGFP2(483/506)
#py ConfigGroup,Channel,cAMP-reporter,LED,Label,ORANGE
#py ConfigGroup,Channel,cAMP-reporter,Filter Wheel,Label,mScarlet3(569/582)
